@import "./colors.scss";

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
}

.form input {
  height: 50px;
}
.form input,
.form textarea,
.form input:focus,
.form input:active,
.form input::content,
.form input::selection,
.form textarea:focus {
  background-color: transparent;
  margin: 16px;
  border: 0;
  width: 100%;
  resize: none;
  font-size: 16px;
  color: $white;
}

.form input[type="submit"] {
  color: $white;
  cursor: pointer;
}
